<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>提交老师信息</title>
  <link rel="icon" href="static/haoicon.ico" type="image/x-icon">
  <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap-markdown.min.css">
  <script src="http://api.geetest.com/get.php"></script>
  <script type="text/javascript">
    function change() {
      var ok = false
      var name = document.getElementById("name");
      var detail = document.getElementById("detail");
      var btn = document.getElementById("click");
      if (name.value == "" || detail.value == "" || name.value == null || detail.value == null) {
        btn.disabled = true;
        btn.value = "写点啥吧(;´༎ຶД༎ຶ`)"
        return;
      } else {
        btn.disabled = false;
        btn.value = "好了就戳我(,,・ω・,,)"
      }
    }
  </script>
</head>

<body class="jumbotron masthead">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://github.com/TutorWikiUJS">
          <img height="20" alt="Home" src="/static/img/GitHub-Mark-32px.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">快速提交<span class="sr-only">(current)</span></a></li>
          <li><a href="https://github.com/TutorWikiUJS/TutorWiki/pull/new/master">提交Pull Request</a></li>
          <li><a href="https://github.com/TutorWikiUJS/TutorWiki/issues/new">提交Issues</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:TutorWiki@reficul.xyz">联系我</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="col-sm-offset-1">
      <h1>导师信息提交</h1>
    </div>

    <form method="POST" action="/" enctype="multipart/form-data" id="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-1 control-label">姓名</label>
        <div class="col-sm-11">
          <input type="text" name="name" placeholder="隔壁老王" class="form-control" id="name" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">职位</label>
        <div class="col-sm-11">
          <input type="text" name="职位" placeholder="扫地僧" class="form-control" id="职位" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">实验室的技术栈</label>
        <div class="col-sm-11">
          <input type="text" name="技术" placeholder="JAVA/C#、Windows开发/PHP/Golang、Ruby、Python开发/Linux运维狗" class="form-control" id="技术" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">研究方向</label>
        <div class="col-sm-11">
          <input type="text" name="方向" placeholder="自动测试/软家架构/需求分析/信息安全" class="form-control" id="技术" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">方式</label>
        <div class="col-sm-11">
          <input type="text" name="方式" placeholder="严加管教，每个礼拜都要报告等等/基本放养，学啥全凭兴趣" class="form-control" id="方式" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">掌握资源</label>
        <div class="col-sm-11">
          <input type="text" name="资源" placeholder="隔壁有个大公司/基友是马化腾/信息中心是我家" class="form-control" id="资源" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">性格</label>
        <div class="col-sm-11">
          <input type="text" name="性格" placeholder="低调内敛有内涵" class="form-control" id="性格" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">爱好</label>
        <div class="col-sm-11">
          <input type="text" name="爱好" placeholder="乒乓球/吃货/学术" class="form-control" id="爱好" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">福利</label>
        <div class="col-sm-11">
          <input type="text" name="福利" placeholder="每个月都有补助哟，放假包饺子呀" class="form-control" id="福利" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">牛逼学长</label>
        <div class="col-sm-11">
          <input type="text" name="学长" placeholder="小明，小红，小张" class="form-control" id="学长" oninput="change()" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">其他</label>
        <div class="col-sm-11">
          <textarea name="detail" rows="10" placeholder="（支持Markdown语法编辑）

- 其余说明：咱们老师好啊，真的好！
" data-provide="markdown" class="form-control" id="detail" oninput="change()"></textarea>
        </div>
      </div>
      <div id="gee"></div>

      <input type="submit" class="btn btn-default col-sm-offset-1" id="click" disabled="true" value="写完才能点我哦!(๑•́ ₃ •̀๑)" />
      <script>
        window.popup_captcha = new window.Geetest({
          gt: '2cbd148037b4ccb288c227398edbe5e5',
          product: 'popup'
        }).appendTo('#gee').bindOn('#click')
        popup_captcha.onSuccess(function() {
          var f = document.getElementById("form")
          f.submit();
        })
      </script>
    </form>
    <div class="col-xs-12">
      <h6 class="text-right"> Powerby Beego ,Github Api ,Bootstrap</h6>
    </div>
  </div>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/to-markdown.js"></script>
  <script src="/static/js/bootstrap-markdown.js"></script>
</body>

</html>
